{% extends 'base.html.twig' %}

{% block title %} Grade my Student {% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
	<!-- CUSTOM STYLESHEET -->
	<link rel="stylesheet" href="assets/grading.css">
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/575abfd474.js" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <style>
        body {
            background: #EEEEEE;
        }
        span {
            color: blue;
        }
        *{
            margin: 0;
            padding: 0;
            list-style: none;
            text-decoration: none;
            box-sizing: border-box;
            font-family: "Roboto", sans-serif;
        }

        /********** HEADER **********/
        .wrapper .header{
            z-index: 1;
            background: #A41034;
            position: fixed;
            width: calc(100% - 0%);
            height: 70px;
            display: flex;
            top: 0;
        }
        .wrapper .header .header-menu{
            width: calc(100% - 0%);
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        .wrapper .header .header-menu .title{
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 900;
        }
        /********** SIDEBAR **********/
        .wrapper .sidebar{
            z-index: 1;
            background: #FFF;
            box-shadow: 10px 10px 15px grey;
            position: fixed;
            top: 70px;
            width: 180px;
            height: calc(100% - 9%);
            transition: 0.3s;
            transition-property: width;
            overflow-y: auto;
        }
        .wrapper .sidebar .sidebar-menu{
            overflow: hidden;
        }
        .wrapper .sidebar .sidebar-menu .profile img{
            margin: 20px 0;
            width: 90px;
            height: 90px;
        }
        .wrapper .sidebar .sidebar-menu .profile p{
            color: grey;
            font-weight: 650;
        }
        .wrapper .sidebar .sidebar-menu .item{
            width: 250px;
            overflow: hidden;
            font-size: 14px;
        }
        .wrapper .sidebar .sidebar-menu .item a{
            text-decoration: none;
        }
        .wrapper .sidebar .sidebar-menu .item .menu-btn{
            display: block;
            color: #000;
            position: relative;
            padding: 10px 20px;
            transition: 0.3s;
            transition-property: color;
        }
        .wrapper .sidebar .sidebar-menu .item button {
            border: none;
            background: none;
        }
        .wrapper .sidebar .sidebar-menu .item button:hover {
            color: #FFF;
        }
        /********** SIDEBAR BUTTONS **********/
        .wrapper .sidebar .sidebar-menu .item .menu-btn span{
            padding: 20px;
            background: #A41034;
            border-radius: 2em;
            color: #fff;
        }
        .wrapper .sidebar .sidebar-menu .item .menu-btn span:hover{
            background: #C2133D;
        }
        .wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
            background: #C2133D;
            color: #FFF;
            text-decoration: none;
        }
        .wrapper .sidebar .sidebar-menu .item .menu-btn i{
          margin-right: 20px;
        }
        /********** LOGOUT MODAL **********/
        .modal .modal-dialog .modal-content .modal-footer button {
            font-size: 14px;
        }
        .modal .modal-dialog .modal-content .modal-footer button a {
            text-decoration: none;
            color: #FFF;
        }

        /********** MAIN CONTAINER **********/
        .wrapper .content{
            width: (100% - 250px);
            margin-top: 70px;
            margin-left: 220px;
            padding: 15px;
            background-size: cover;
            height: 100vh;
            transition: 0.3s;
        }
        .view a {
            color: royalblue;
            text-decoration: none;
        }
        table {
            font-size: 15px;
        }
        .search {
            float: right;
            width: 200px;
            height: 40px;
            border-radius: 2em;
            padding: 10px;
            border: none;
            box-shadow: 10px 10px 15px grey;
            font-size: 14px;
        }
        .flex {
            display: flex;
            flex-direction: row;
        }
        .grades {
            width: 20%;
            border: 1px solid grey;
            padding: 1%;
        }
        .add-grades {
            width: 80%;
            border: 1px solid grey;
            border-left: none;
            padding: 1%;
        }
        .save {
            float: right;
        }
    </style>
{% endblock %}

{% block body %}
<body>
    <!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Aoba Johsai Academy</div>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="profile">
                    <img src="assets/logo.png" alt="">
                    <p>{{ app.user.fullname }}</p>
                </center>
                <hr></hr>
                <li class="item">
                    <a href="/dashboard" class="menu-btn">
                        <i class="fas fa-desktop"></i>Dashboard
                    </a>
                </li>
                <li class="item">
                    <a href="/student" class="menu-btn">
                        <i class="fas fa-graduation-cap"></i>Student
                    </a>
                </li>
                <li class="item">
                    <a href="/grading" class="menu-btn">
                        <span><i class="fas fa-file-excel"></i>Grading</span>
                    </a>
                </li>
                <li class="item">
                    <a href="/profile" class="menu-btn">
                        <i class="fas fa-users-cog"></i>Profile
                    </a>
                </li>
                
                <!-- Button trigger modal -->   
                <li class="item">
                    <div class="menu-btn">
                        {% if app.user %}
                        <a href="{{ path('app_logout') }}">
                            <button>
                                <i class="fas fa-sign-out-alt"></i>Logout
                            </button>
                        </a>
                        {% endif %}
                    </div>  
                </li>
            </div>
        </div>
        <!--sidebar end-->
        <!--main container start-->
        <div class="content">
            <div class="directory">
                <p>Grading / Grade my Student</p>
            </div>
            <hr></hr>

            <h5>Student Grading</h5>
                <button type="button" class="btn btn-danger" style="width: 100px;">
                Back</button>
            <input class="search" name="search" type="search" placeholder="Type search..." aria-label="Search">
            <br><br>
            <div class="flex">
                <div class="grades">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Grade Range</th>
                                <th>Grade Point</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>96-100</td>
                                <td>4.0</td>
                            </tr>
                            <tr>
                                <td>90-95</td>
                                <td>3.5</td>
                            </tr>
                            <tr>
                                <td>84-89</td>
                                <td>3.0</td>
                            </tr>
                            <tr>
                                <td>78-83</td>
                                <td>2.5</td>
                            </tr>
                            <tr>
                                <td>72-77</td>
                                <td>2.0</td>
                            </tr>
                            <tr>
                                <td>66-71</td>
                                <td>1.5</td>
                            </tr>
                            <tr>
                                <td>60-65</td>
                                <td>1.0</td>
                            </tr>
                            <tr>
                                <td>59 and below</td>
                                <td>R</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="add-grades">
                    {{ form_start(form) }}
                    <table class="table table-hover">
                        <tr>
                            <th>Course Name          </th>
                            <th>Name    </th>
                            <th>Interim 1</th>
                            <th>Midterm</th>
                            <th>Interim 2</th>
                            <th>Final</th>
                            <th>Grade</th>
                            <th>Remark</th>
                        </tr>
                            {% for s in students %}
                            <tbody>
                                <tr>
                                    <td>{{ s.course }}</td>
                                    <td>{{ s.fullname }}</td>
                                    
                                    <td>{{ form_row(form.interim1) }}</td>
                                    <td>{{ form_row(form.midterm) }}</td>
                                    <td>{{ form_row(form.interim2) }}</td>
                                    <td>{{ form_row(form.final) }}</td>
                                    
                                    <td>{{ s.Grade }}</td>
                                    <td>{{ s.Remarks }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                    </table>
                    <div class="save">
                        {{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div> 
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->

    </div>
</body>
{% endblock %}
