{% extends 'base.html.twig' %}

{% block title %} Faculty Dashboard {% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
	<!-- CUSTOM STYLESHEET -->
	<link rel="stylesheet" href="assets/dashboard.css">
	<!-- FONT AWESOME -->
	<script src="https://kit.fontawesome.com/575abfd474.js" crossorigin="anonymous"></script>
	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <style>
        body {
            background: #EEEEEE;
        }
        .contains {
            padding: 12px;
            margin-bottom: 10px;
            font-size: 14px;
            background: white;
            border-radius: 0.5em;
        }
        span {
            color: blue;
            font-size: 16px;
        }
        label {
            color: grey;
            font-size: 12px;
        }
    </style>
{% endblock %}

{% block body %}
<body>
    <!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="title">Aoba Johsai Academy</div>
            </div>
        </div>
        <!--header menu end-->
        <!--sidebar start-->
        <div class="sidebar">
            <div class="sidebar-menu">
                <center class="profile">
                    <img src="assets/logo.png" alt="">
                    <p>{{ app.user.fullname }}</p>
                </center>
                <hr></hr>
                <li class="item">
                    <a href="/dashboard" class="menu-btn">
                        <span><i class="fas fa-desktop"></i>Dashboard</span>
                    </a>
                </li>
                <li class="item">
                    <a href="/student" class="menu-btn">
                        <i class="fas fa-graduation-cap"></i>Student
                    </a>
                </li>
                <li class="item">
                    <a href="/grading" class="menu-btn">
                        <i class="fas fa-file-excel"></i>Grading
                    </a>
                </li>
                <li class="item">
                    <a href="/profile" class="menu-btn">
                        <i class="fas fa-users-cog"></i>Profile
                    </a>
                </li>
                
                <!-- Button trigger modal -->	
                <li class="item">
                    <div class="menu-btn">
                        {% if app.user %}
                        <a href="{{ path('app_logout') }}">
                            <button>
                                <i class="fas fa-sign-out-alt"></i>Logout
                            </button>
                        </a>
                        {% endif %}
                    </div>	
                </li>
            </div>
        </div>
        <!--sidebar end-->
        <!--main container start-->
        <div class="content">
            <div class="directory">
                <p>Dashboard / </p>
            </div>
            <hr></hr>

            <label>Today is {{ "now"|date("M-d-Y") }}</label>
            <br>
            {% for a in announcement %}
                <div class="contains">
                    <span>{{a.adminName}}</span>
                    <br>
                    <label>{{a.postDate}}</label>
                    <br><br>
                    {{a.announcement}}
                </div>
            {% endfor %}
        </div>
        <!--main container end-->
    </div>
    <!--wrapper end-->
</body>
{% endblock %}
